@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #0f172a;
  --color-primary-hover: #1e293b;
  --color-secondary: #3b82f6;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}